src/by/it/group773601/buglack/lab5/resources/schema1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="persons">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="person">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="lastName"/>
              <xs:element type="xs:string" name="firstName"/>
              <xs:element type="xs:string" name="thirdName"/>
              <xs:element type="xs:date" name="birthDate"/>
              <xs:element type="xs:string" name="sex"/>
              <xs:element name="address">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="actualCity"/>
                    <xs:element type="xs:string" name="actualAddress"/>
                    <xs:element type="xs:string" name="phone"/>
                    <xs:element type="xs:string" name="releaseAddress"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="passport">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="series"/>
                    <xs:element type="xs:int" name="number"/>
                    <xs:element type="xs:long" name="idNumber"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="nation"/>
              <xs:element type="xs:string" name="reservist"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

